<header class="header">
    <section class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="contact">
                        <p><span class="phone"><a href="#">Phone: +1023546789</a></span><span class="email"><a href="#">Email: testdomain@gmail.com</a></span></p>
                    </div>
                </div>
                <!--<div class="col-md-4 col-sm-4">
                    <div class="join-us">
                        <p><a href="#">JOIN US NOW</a></p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <section class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <a href="#">
                        <div class="main-logo">
                            <img src="img/main-logo.png" alt="">
                            <h2>Save Human Foundation</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">CAUSES</a></li>
                            <li><a href="#">EVENT</a></li>
                            <li><a href="#">PORTFOLIO </a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>